.slider {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    place-items: center;

    &__title {
        margin: 32px 0px;
        // max-width: 598px;
        // text-align: center;
        font-style: normal;
        font-weight: 300;
        font-size: 72px;
        line-height: 83px;

        color: #F2F4F7;
    }

    &__text {
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
        margin: 32px 0px;
        color: #F2F4F7;
    }

    &__btn {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        margin: 80px 0 64px;
        padding: 16px 96px;
        max-width: 239px;

        background: linear-gradient(92.82deg, #FC4060 35%, #8061FD 70%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        border: 2px solid;
        border-image: linear-gradient(92.82deg, #FC4060 0%, #8061FD 100%);
        border-image-slice: 1;
    }

    &__controls {
        display: flex;
        justify-content: space-between;

        &__dot {
            width: 16px;
            height: 16px;
            border-radius: 50%;
            border: 2px solid rgba(196, 196, 196, 0.16);
            margin-right: 32px;

            &:last-child {
                margin-right: 0;
            }

            &-active {
                border-color: rgba(255, 255, 255, 1);
            }
        }


    }
}