.App {
    background: linear-gradient(180deg, rgba(43, 34, 21, 0.8) -1.22%, #22282E 101.33%);
    border-radius: 32px;
    padding: 48px 0 235px;
    margin: 0 auto;
    max-width: 1410px;
    width: 100%;
  }